@font-face {
    font-family: 'u5';
    src: url('uphonts/u5.eot');
    src: url('uphonts/u5.eot') format('embedded-opentype'),
         url('uphonts/u5.woff2') format('woff2'),
         url('uphonts/u5.woff') format('woff'),
         url('uphonts/u5.ttf') format('truetype'),
         url('uphonts/u5.svg#u5') format('svg');
}
@font-face {
    font-family: 'u5c';
    src: url('uphonts/u5c.eot');
    src: url('uphonts/u5c.eot') format('embedded-opentype'),
         url('uphonts/u5c.woff2') format('woff2'),
         url('uphonts/u5c.woff') format('woff'),
         url('uphonts/u5c.ttf') format('truetype'),
         url('uphonts/u5c.svg#u5c') format('svg');
}
@font-face {
    font-family: 'u5cdot';
    src: url('fonts/u5cdot.eot');
    src: url('fonts/u5cdot.eot') format('embedded-opentype'),
         url('fonts/u5cdot.woff2') format('woff2'),
         url('fonts/u5cdot.woff') format('woff'),
         url('fonts/u5cdot.ttf') format('truetype'),
         url('fonts/u5cdot.svg#u5cdot') format('svg');
}
@font-face {
    font-family: 'u5hp';
    src: url('uphonts/u5hp.eot');
    src: url('uphonts/u5hp.eot') format('embedded-opentype'),
         url('uphonts/u5hp.woff2') format('woff2'),
         url('uphonts/u5hp.woff') format('woff'),
         url('uphonts/u5hp.ttf') format('truetype'),
         url('uphonts/u5hp.svg#u5hp') format('svg');
}
@font-face {
    font-family: 'u8';
    src: url('uphonts/u8.eot');
    src: url('uphonts/u8.eot') format('embedded-opentype'),
         url('uphonts/u8.woff2') format('woff2'),
         url('uphonts/u8.woff') format('woff'),
         url('uphonts/u8.ttf') format('truetype'),
         url('uphonts/u8.svg#u8') format('svg');
}
@font-face {
    font-family: 'u8v';
    src: url('uphonts/u8v.eot');
    src: url('uphonts/u8v.eot') format('embedded-opentype'),
         url('uphonts/u8v.woff2') format('woff2'),
         url('uphonts/u8v.woff') format('woff'),
         url('uphonts/u8v.ttf') format('truetype'),
         url('uphonts/u8v.svg#u8v') format('svg');
}
@font-face {
    font-family: 'u8z';
    src: url('uphonts/u8z.eot');
    src: url('uphonts/u8z.eot') format('embedded-opentype'),
         url('uphonts/u8z.woff2') format('woff2'),
         url('uphonts/u8z.woff') format('woff'),
         url('uphonts/u8z.ttf') format('truetype'),
         url('uphonts/u8z.svg#u8z') format('svg');
}
@font-face {
    font-family: 'u8zf';
    src: url('uphonts/u8zf.eot');
    src: url('uphonts/u8zf.eot') format('embedded-opentype'),
         url('uphonts/u8zf.woff2') format('woff2'),
         url('uphonts/u8zf.woff') format('woff'),
         url('uphonts/u8zf.ttf') format('truetype'),
         url('uphonts/u8zf.svg#u8zf') format('svg');
}
@font-face {
    font-family: 'binary_horizontal_u5c2';
    src: url('uphonts/binary_horizontal_u5c2.eot');
    src: url('uphonts/binary_horizontal_u5c2.eot') format('embedded-opentype'),
         url('uphonts/binary_horizontal_u5c2.woff2') format('woff2'),
         url('uphonts/binary_horizontal_u5c2.woff') format('woff'),
         url('uphonts/binary_horizontal_u5c2.ttf') format('truetype'),
         url('uphonts/binary_horizontal_u5c2.svg#binary_horizontal_u5c2') format('svg');
}
@font-face {
    font-family: 'binary_horizontal_u5hp2';
    src: url('uphonts/binary_horizontal_u5hp2.eot');
    src: url('uphonts/binary_horizontal_u5hp2.eot') format('embedded-opentype'),
         url('uphonts/binary_horizontal_u5hp2.woff2') format('woff2'),
         url('uphonts/binary_horizontal_u5hp2.woff') format('woff'),
         url('uphonts/binary_horizontal_u5hp2.ttf') format('truetype'),
         url('uphonts/binary_horizontal_u5hp2.svg#binary_horizontal_u5hp2') format('svg');
}
@font-face {
    font-family: 'binary_horizontal_u82';
    src: url('uphonts/binary_horizontal_u82.eot');
    src: url('uphonts/binary_horizontal_u82.eot') format('embedded-opentype'),
         url('uphonts/binary_horizontal_u82.woff2') format('woff2'),
         url('uphonts/binary_horizontal_u82.woff') format('woff'),
         url('uphonts/binary_horizontal_u82.ttf') format('truetype'),
         url('uphonts/binary_horizontal_u82.svg#binary_horizontal_u82') format('svg');
}
@font-face {
    font-family: 'binary_vertical_u5c2';
    src: url('uphonts/binary_vertical_u5c2.eot');
    src: url('uphonts/binary_vertical_u5c2.eot') format('embedded-opentype'),
         url('uphonts/binary_vertical_u5c2.woff2') format('woff2'),
         url('uphonts/binary_vertical_u5c2.woff') format('woff'),
         url('uphonts/binary_vertical_u5c2.ttf') format('truetype'),
         url('uphonts/binary_vertical_u5c2.svg#binary_vertical_u5c2') format('svg');
}
@font-face {
    font-family: 'binary_vertical_u5hp2';
    src: url('uphonts/binary_vertical_u5hp2.eot');
    src: url('uphonts/binary_vertical_u5hp2.eot') format('embedded-opentype'),
         url('uphonts/binary_vertical_u5hp2.woff2') format('woff2'),
         url('uphonts/binary_vertical_u5hp2.woff') format('woff'),
         url('uphonts/binary_vertical_u5hp2.ttf') format('truetype'),
         url('uphonts/binary_vertical_u5hp2.svg#binary_vertical_u5hp2') format('svg');
}
@font-face {
    font-family: 'binary_vertical_u82';
    src: url('uphonts/binary_vertical_u82.eot');
    src: url('uphonts/binary_vertical_u82.eot') format('embedded-opentype'),
         url('uphonts/binary_vertical_u82.woff2') format('woff2'),
         url('uphonts/binary_vertical_u82.woff') format('woff'),
         url('uphonts/binary_vertical_u82.ttf') format('truetype'),
         url('uphonts/binary_vertical_u82.svg#binary_vertical_u82') format('svg');
}
