@font-face {
  font-family: 'u5c';
  src: url('/path-to/u5c.woff2') format('woff2'),
       url('/path-to/u5c.woff') format('woff'),
       url('/path-to/u5c.ttf')  format('truetype');
}

body {
  font-family: 'u5c', sans-serif;
}
